*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.world {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 4vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  height: 30%;
  left: calc(var(--left) * 1%);
  bottom: 0;
}
